{
  "policies": {
    "DisableTelemetry": true,
    "DisableFirefoxStudies": true,
    "OverrideFirstRunPage": "",
    "OverridePostUpdatePage": "",
    "DisableFormHistory": false,
    "DontCheckDefaultBrowser": true
  }
}
